ion-toolbar {
    --background: #ffcb00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    ion-back-button {
        color: #000;
    }

    ion-title {
        font-size: 20px;
    }
}

ion-content {
    --ion-background-color: #ffcb00;
    font-family: Arial, Helvetica, sans-serif;

    header {
        margin-bottom: 10%;
    
        h1 {
            font-size: 40px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
            margin-top: 0;
        }
    }

    section {
        p {
            font-size: 18px;
        }
    }
}