<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>SOBRE O APLICATIVO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <header>
    <h1>FLASHCARDS</h1>
  </header>
  
  <section class="ion-text-justify">
    <p>O aplicativo de Flashcards foi desenvolvido para auxiliar a comunicação e educação de crianças com autismo.</p>
    <p>O aplicativo foi desenvolvido como Projeto de Graduação do aluno Alberto André Aguiar Neto, do curso de Sistemas para Internet da Fatec São Roque, utilizando a linguagem de programação JavaScript, especificamente o framework Ionic.</p>
    <p>Este aplicativo é open source e você, sendo programador, pode contribuir com melhorias acessando o repositório https://github.com.br/albertoaguiar/flashcards.</p>
    <p>Utilize este aplicativo da melhor forma, podendo assim facilitar a comunicação e educação de crianças com austismo.</p>
  </section>
</ion-content>
