ion-content {
  --ion-background-color: #ffcb00;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

header {
  margin-top: 10%;

  h1 {
    font-size: 40px;
  }
}

.item_circle {
  margin: 30px auto;
  .circle {
    display: block;
    background: #49E7B9;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    margin: 8px auto;

    span {
      font-size: 120px;
      line-height: 130px;
    }
  }
}

.about_app {
  .circle {
    span {
      font-size: 80px;
      line-height: 130px;
    }
  }
}