<ion-content [fullscreen]="true" class="masters ion-text-center">
  <header>
    <h1>FLASHCARDS</h1>
  </header>

  <section>
    <div class="add_flashcard item_circle">
      <figure class="circle">
        <span>+</span>
      </figure>
      <h2>NOVO FLASHCARD</h2>
    </div>

    <div class="all_flashcard item_circle">
      <figure class="circle">
        <span><ion-icon name="menu-outline"></ion-icon></span>
      </figure>
      <h2>TODOS FLASHCARDS</h2>
    </div>

    <div class="about_app item_circle" routerLink="/about-app" routerDirection="forward">
      <figure class="circle">
        <span class="span_about_app">i</span>
      </figure>
      <h2>SOBRE O APLICATIVO</h2>
    </div>
  </section>
  
</ion-content>
