@font-face {
  font-family: "Impact";
  src: url("../../assets/fonts/impact.ttf") format('truetype');
  }

ion-content {
  --ion-background-color: #ffcb00;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

header {
  margin-top: 5%;

  h1 {
    font-size: 40px;
  }
}

.item_circle {
  margin: 30px auto;
  .circle {
    display: block;
    background: #49E7B9;
    border-radius: 100%;
    height: 90px;
    width: 90px;
    margin: 8px auto;

    span {
      font-size: 80px;
      line-height: 90px;
    }
  }
}

.about_app {
  .circle {
    span {
      font-size: 40px;
      line-height: 90px;
    }
  }
}

.all_flashcard {
  .circle {
    span {
      line-height: 106px;
    }
  }
}